<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/socket.io/dist/index.js"></script> -->
  <!-- <script src="/node_modules//socket.io/dist/index.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script> -->
  <script src="http://localhost:80/socket.io/socket.io.js"></script>
  <link href="styles.css" rel="stylesheet">
  <title>Web Sockets Client</title>
</head>
<body>
  <div id="v-app">
    <h1>Websockets tester</h1>
    <form>
      <input type="text" v-model="text">
      <button type="submit" @click.prevent="sendChatMessage()">Send</button>
    </form>
    <div class="tab-row" id="buttons-group">
      <button class="tab-btn" :class="{ active: activeRoom == '73b5fc85-554a-4fde-9ff8-ca36fab54d5d' }" @click="activeRoom = '73b5fc85-554a-4fde-9ff8-ca36fab54d5d'">General</button>
      <button class="tab-btn" :class="{ active: activeRoom == 'typescript' }" @click="activeRoom = 'typescript'">TypeScript</button>
      <button class="tab-btn" :class="{ active: activeRoom == 'nestjs' }" @click="activeRoom = 'nestjs'">NestJS</button>
    </div>
    <div class="tab-row">
      Status: {{ isMemberOfActiveRoom ? 'Joined' : 'NOT Joined'}} <button @click="toggleRoomMembership()">{{ isMemberOfActiveRoom ? 'Leave' : 'Join'}}</button>
    </div>
    <p>
      <ul>
        <li v-for="message of messages[activeRoom]">
          <strong>{{ message.sender }}:</strong> {{ message.body }}
        </li>
      </ul>
    </p>
  </div>
  <script>
    var app = new Vue({
      el: '#v-app',
      data: {
        username: '',
        userId: '',
        accessToken: '',
        id: '',
        text: '',
        messages: {
        },
        // rooms: {
        //   general: false,
        //   typescript: false,
        //   nestjs: false,
        // },
        rooms: [],
        socket: { chat: null },
        activeRoom: ''
      },
      methods: {
        sendChatMessage() {
          //Check if user is member of active room
          if(this.isMemberOfActiveRoom) {
            this.socket.chat.emit('messageFromClient', { sender: this.userId, room: this.activeRoom , body: this.text});
          } else {
            alert('You must be a member of the active room to send messages');
          }
        },
        receiveChatMessage(msg) {
          // this.$set()
          this.messages[this.activeRoom].push(msg);
        },
        toggleRoomMembership() {
          if(this.isMemberOfActiveRoom) {
            this.socket.chat.emit('leaveRoom', this.activeRoom);
          } else {
            this.socket.chat.emit('joinRoom', this.activeRoom);
          }
        }
      },
      computed: {
        isMemberOfActiveRoom() {
          console.log(`Active room: ${this.activeRoom}`);
          return this.rooms[this.activeRoom];
        }
      },
      async created() {
        const loginData = { username:"mark", password:"cheater" };
        this.userId = 'f22d973f-7804-41f5-99d3-b6982a6df8a2';
        const res = await fetch('http://localhost:3000/login', { method: 'POST',
         body: JSON.stringify(loginData),
         headers: { "Content-Type": "application/json" }
        });
        const data = await res.json();
        this.accessToken = data.accessToken;

        const rooms = await fetch('http://localhost:3000/chat/', { 
          headers: { //user mark
            Authorization: `Bearer ${ this.accessToken }` 
          }
        }).then(response => response.json());
        
        rooms.forEach(room => {
          this.$set(this.messages, room.id, []);
          this.rooms[room.id] = false;
        });

        this.socket.chat = io('ws://localhost:80/chat', {auth: { 
          chatId: '73b5fc85-554a-4fde-9ff8-ca36fab54d5d', 
          userId: 'f22d973f-7804-41f5-99d3-b6982a6df8a2', 
          uuid: "83ee2406-4bf8-4fa4-8a45-18f46483df2c" }});
        
        this.socket.chat.on('messageFromServer', (msg) => {
          this.receiveChatMessage(msg);
        })

        this.socket.chat.on('connect', () => {
          console.log(this.socket.chat.rooms);
          this.toggleRoomMembership();
        })

        this.socket.chat.on('joinedRoom', (room) => {
          console.log(`Joined Room: ${room}`);
          this.rooms[room] = true;
        });
        
        this.socket.chat.on('leftRoom', (room) => {
          this.rooms[room] = false;
        });

        this.socket.chat.on('disconnect', (data) => {
          console.log(data);
          this.socket.chat.disconnect();
        })

        this.socket.chat.on('improperMessageFormat', (data) => {
          console.log(data);
        })
      }
    })
  </script>
</body>
</html>